$base-color: rgba(217, 223, 230, 0.2);
$btn-color: #FCCF18;

/* --- text colors --- */
$color-light: #fff;
$color-dark: #252525;
$color-decor: #7637DD;

/* --- bg colors --- */
$bg-light: #fff;
$bg-dark: #252525;
$bg-decor: #7637DD;


/* --- header --- */
$header-bg: #252525;

$font-lato: 'Lato', sans-serif;
$font-poppins: 'Poppins', sans-serif;